@import "../../styles/variables.scss";

.CurriculumPage {
  background-color: $bg3;
  padding: 10%;
  color: $text;
}

.CurriculumPage {
  h1 {
    font-size: 3em;
    font-family: $caveat-font;
    margin-bottom: 2vh;
  }
  p {
    font-size: $font-size-sm;
    margin: 1vh;
  }
  h2 {
    font-size: 1.5em;
    font-family: $caveat-font;
    margin-top: 1vh;
  }

  .stack {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
  }
}