.background-animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh;
  z-index: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  margin: -10px;
  padding: -50px;
}
