@import "../../styles/variables.scss";

.CurriculumPage {
  @include bootstrapScroll();
  padding: 10%;
  color: $text2;
  overflow-y: hidden;
  box-shadow: 0 1px 15px $primary;
  height: 100vh;
}

.CurriculumPage {
  h1 {
    font-size: 3em;
    font-family: $caveat-font;
    margin-bottom: 2vh;
    text-decoration-color: $primary;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 8px;
  }
  p {
    font-size: $font-size-sm;
    margin: 1vh;
  }
  h2 {
    font-size: 1.5em;
    font-family: $caveat-font;
    margin-top: 1vh;
  }

  .stack {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1vh;
  }
}
