@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

$ubuntu-font: "Titillium Web", sans-serif;
$caveat-font: "Titillium Web", sans-serif;

$bg: #e7f6f2;
$bg2: #2c3333;
$bg3: #a5c9ca;

$text: #2c3333;
$text2: #e7f6f2;
$primary: yellow;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$base: 0.6rem;

$header-height: 60px;

$sm: 37.5em;
$md: 48em;
$lg: 64em;
$xl: 75em;

$font-size-xs: 0.5em;
$font-size-sm: 1em;
$font-size-rgl: 1.5em;
$font-size-lrg: 3em;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
}

@mixin bootstrapScroll {
  height: fit-content;
  overflow-y: scroll;
}
