@import "../../styles/variables.scss";

.PortfolioPage {
  @include bootstrapScroll();
  padding: 10% 10% 8% 10%;
  height: fit-content;
  color: $text2;
  overflow-y: hidden;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  text-align: center;
  margin-left: 4%;
}

.carousel {
  max-width: 75vw;
  border: solid 1px $primary;
  border-radius: 15px;
  height: fit-content;
  background-color: transparent;
  margin: 1vh 0;
  padding: 24px;
  box-shadow: 5px 5px 10px -5px;
  text-align: center;
}

.carousel-inner {
  border: none;
}

.carouselItem {
  background-color: transparent;
  height: 380px;
  margin-bottom: 30px;
  border: none;
  text-align: center;
}

.card {
  background-color: transparent !important;
  height: 5vh;
  border: none;
  margin-bottom: 3px;
}

.card {
  .card-title {
    color: $text2;
    font-size: 2em;
  }
  .card-img-top {
    border-top-right-radius: 32px;
    width: fit-content;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
  .portfolioContent {
    text-align: center;
    width: 58vw;
    padding-left: 13vw;
  }

  .card {
    background-color: transparent !important;
    width: 40vw;
    height: 10vh;
    border: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .PortfolioPage {
    @include bootstrapScroll();
    padding: 10% 10% 8% 10%;
    overflow-y: hidden;
  }

  .portfolioContent {
    display: flex;
    flex-direction: row;
  }

  .carousel {
    max-width: 25vw;
    margin: 0 1vw;
    text-align: center;
  }

  .card {
    width: 90%;
    margin-left: 5%;
  }
}
