@import "../../styles/variables.scss";

.PortfolioPage {
  @include bootstrapScroll();
  padding: 10% 10% 8% 10%;
  height: fit-content;
  color: $text2;
  overflow-y: hidden;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: 4%;
}

.carousel {
  // this is the one to modify each cards
  border-radius: 15px;
  height: fit-content;
  margin: 1vh 0;
  padding: 24px;
  box-shadow: 8px 8px 15px -8px;
  text-align: center;
  &:hover {
    transform: scale(1.1);
    border: 0.2px solid white;
  }
}

.carousel-inner {
  border: none;
}

.carouselItem {
  height: 400px;
  margin-bottom: 30px;
  border: none;
  text-align: center;
}

.card {
  height: 5vh;
  border: none;
  margin-bottom: 3px;
  background-color: transparent !important;
}

.card {
  .card-title {
    color: $text2;
    font-size: 2em;
  }
  .card-img-top {
    border-top-right-radius: 32px;
    width: fit-content;
    border: none;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
  .portfolioContent {
    text-align: center;
    width: 58vw;
    padding-left: 13vw;
  }

  .card {
    height: 10vh;
    border: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .PortfolioPage {
    @include bootstrapScroll();
    padding: 5% 10%;
    overflow-y: hidden;
  }

  .portfolioContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .portfolioItem {
    max-width: 30%;
    margin: 5vh 0.5vw 1vh 0.5vw;
  }

  .carousel {
    margin: 0 1vw;
    text-align: center;
    width: 100%;
  }

  .card {
    width: 90%;
    margin-left: 5%;
  }
}
