@import "../../styles/variables.scss";

.Homepage {
  background-color: $bg2;
  padding: 20% 10% 8% 10%;
  z-index: 1000;
  box-shadow: 0 1px 15px $primary;
}

.topContent {
  display: flex;
  flex-direction: column;
}

.homepageTitle {
  color: $text2;
  padding: 18% 0 12% 0;
  font-size: 2.5em;
  width: 50vw;
}

.homepageP {
  color: $text2;
  font-family: $caveat-font;
  font-size: $font-size-rgl;
  margin-bottom: 2vh;
}

.profilePicure {
  width: 32vw;
  height: auto;
  position: absolute;
  right: 0;
  margin: 11% 10% 0 0;
}
