@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

body {
  font-family: $ubuntu-font;
  overflow-x: hidden;
}

.App {
  -webkit-animation: color-change-2x 6s linear infinite alternate both;
  animation: color-change-2x 6s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: rgba(25, 23, 21);
  }
  100% {
    background: rgb(45, 52, 54);
  }
}
@keyframes color-change-2x {
  0% {
    background: rgba(0, 0, 0, 1);
  }
  100% {
    background: rgb(45, 52, 54);
  }
}

main {
  height: calc(100vh - #{$header-height});
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    font-size: 38px;
    text-align: center;
    font-weight: 700;
    color: $text2;
    padding: $spacing-md $spacing-lg;
    background: $bg2;
    border-radius: $spacing-sm;
    box-shadow: 0 0 10px $primary;
    margin: 0 $spacing-md;

    margin-top: -$header-height;

    &__focus {
      color: $primary;
    }

    @include breakpoint(md) {
      font-size: 42px;
    }
  }
}

a {
  text-decoration: none;
  color: $text2;
  &:hover {
    color: $primary;
  }
}

button {
  // reset to default
  font-family: inherit;
  outline: none;
  border: none;
  background: none;
  letter-spacing: inherit;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  padding: 0;
}

h1 {
  font-size: 3em;
  font-family: $caveat-font;
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 10px;
}

.blueBtn {
  border-radius: 5px;
  background-color: $primary;
  padding: 5px 20px;
  color: $text;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  border: solid 1px transparent;
  &:hover {
    border: 1px solid rgb(247, 248, 248);
    box-shadow: 5px 5px 10px -5px;
    color: $text;
    transition: 0.4s;
    cursor: pointer;
    transform: scale(0.8);
  }
}

.whiteBtn {
  border-radius: 5px;
  border: solid white 1px;
  background-color: transparent;
  padding: 5px 21.5px;
  color: $text2;
  margin: 0 10px;
  &:hover {
    border: 1px solid rgb(252, 254, 255);
    box-shadow: 5px 5px 10px -5px;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    transform: scale(0.8);
  }
}

.shapes {
  position: absolute;
  opacity: 0.1;
  overflow: hidden;
}
