@import "../../styles/variables.scss";

.PortfolioPage {
  @include bootstrapScroll();
  padding: 20% 10% 8% 10%;
  height: 100vh;
  color: $text2;
  overflow-y: hidden;
  box-shadow: 0 1px 15px $primary;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
