@import "../../styles/variables.scss";

.PortfolioPage {
  @include bootstrapScroll();
  padding: 20% 10% 8% 10%;
  height: fit-content;
  color: $text2;
  overflow-y: hidden;
  box-shadow: 0 1px 15px $primary;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  text-align: center;
  margin-left: 4%;
}

.carousel {
  max-width: 75vw;
  border: solid 1px $primary;
  border-radius: 15px;
  height: fit-content;
  background-color: transparent;
  margin: 1vh 0;
  padding: 24px;
  box-shadow: 5px 5px 10px -5px;
}

.carousel-inner {
  border: none;
}

.carouselItem {
  background-color: transparent;
  height: 380px;
  margin-bottom: 30px;
  border: none;
}

.card {
  background-color: transparent !important;
  height: 5vh;
  border: none;
}

.card {
  .card-title {
    color: $text2;
    font-size: 2em;
  }
  .card-img-top {
    border-top-right-radius: 32px;
    width: fit-content;
  }
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .blueBtn {
    border-radius: 5px;
    background-color: $primary;
    padding: 5px 1px;
    color: $text;
    margin: 60px 10px 20px 10px;
    border: solid 1px transparent;
    &:hover {
      border: 1px solid rgb(0, 191, 255);
      box-shadow: 5px 5px 10px -5px;
      color: rgb(0, 191, 255);
      transition: 0.4s;
      cursor: pointer;
    }
  }

  .whiteBtn {
    border-radius: 5px;
    border: solid white 1px;
    background-color: transparent;
    padding: 5px 1px;
    color: $text2;
    margin: 0 10px;
    &:hover {
      border: 1px solid rgb(0, 191, 255);
      box-shadow: 5px 5px 10px -5px;
      color: white;
      transition: 0.4s;
      cursor: pointer;
    }
  }
}
