@import "../../styles/variables.scss";

.AboutPage {
  @include bootstrapScroll();
  background-repeat: no-repeat;
  opacity: 0.9;
  padding: 10%;
  color: $text2;
  height: fit-content;
  overflow-y: hidden;
}

.AboutPage {
  p {
    font-size: $font-size-sm;
    margin: 1vh;
  }
  h2 {
    font-size: 1.5em;
    font-family: $caveat-font;
    margin-top: 1.2vh;
  }
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .AboutPage {
    padding: 5% 10%;
  }
}
