@import "../../styles/variables.scss";

.AboutPage {
  @include bootstrapScroll();
  background-repeat: no-repeat;
  opacity: 0.9;
  padding: 10%;
  color: $text2;
  height: fit-content;
}

.AboutPage {
  p {
    font-size: $font-size-sm;
    margin: 1vh;
  }
  h2 {
    font-size: 1.5em;
    font-family: $caveat-font;
    margin-top: 1.2vh;
  }
}
