@import "../../styles/variables.scss";

.navbar {
  opacity: 0.2;
  background: rgba(26, 25, 25, 0.8);
  position: fixed !important;
  width: 100vw;
  color: white;
  opacity: 0.85;
  z-index: 100;
  margin-top: 2px;
  height: $header-height;

  input[type="checkbox"],
  .hamburger-lines {
    display: none;
  }

  .navbar-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $header-height;
    background-color: transparent;
    z-index: 101; // Ensure it overlays navbar

    .menu-items {
      position: relative;
      display: flex !important;
      justify-content: center !important;

      .nav-item {
        display: block;
        padding-block: $spacing-md;
        padding-inline: $spacing-lg;
        text-decoration: none;
        color: white;
        height: 100%;
        transition: 0.3s ease color;
        cursor: pointer;
        &:not(:last-child) {
          &:hover {
            color: $primary;
            transform: scale(0.9);
            filter: drop-shadow(4px 4px 3px $primary-start);
          }
        }
        &.active {
          color: $primary;
          transition: transform 0.3s;
          transform: scale(0.9);
          filter: drop-shadow(4px 4px 3px $primary-start);
        }
      }
    }

    .medium-link {
      margin-top: 9px;
      padding-inline: $spacing-lg !important;
      width: 105px;
      height: auto;
      &:hover {
        transition: transform 0.3s;
        color: $primary;
        transform: scale(0.9);
        filter: drop-shadow(4px 4px 3px $primary-start);
      }
    }
  }

  @media (max-width: 992px) {
    opacity: 1;
    backdrop-filter: blur(20px);
    background: rgba(26, 25, 25, 0.9);

    .navbar-container {
      display: block;
      position: absolute;
      height: $header-height;
      background-color: transparent;
      align-items: center;

      input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 300;
        opacity: 0;
        cursor: pointer;
      }

      .hamburger-lines {
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;

        .line {
          display: block;
          height: 4px;
          width: 100%;
          border-radius: 10px;
          background: white;
        }

        .line1 {
          transform-origin: 0% 0%;
          transition: transform 0.3s ease-in-out;
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          transform-origin: 0% 100%;
          transition: transform 0.3s ease-in-out;
        }
      }

      .menu-items {
        padding-block: 100px;
        backdrop-filter: blur(2px);
        background: rgba(26, 25, 25, 0.9);
        height: 100vh;
        width: 100vw !important;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        overflow-y: scroll;
        padding-left: 100px;

        .nav-item {
          display: block;
          padding-inline: $spacing-md !important;
          padding-bottom: 0 !important;
          text-decoration: none;
          color: inherit;
          transition: transform 0.3s;
          cursor: pointer;
          &:not(:last-child) {
            &:hover {
              color: $primary;
              transform: scale(0.9);
              filter: drop-shadow(4px 4px 3px $primary-start);
            }
          }
          &.active {
            color: $primary;
            transform: scale(0.9);
            filter: drop-shadow(4px 4px 3px $primary-start);
          }
        }
        .medium-link {
          padding-inline: $spacing-md !important;
          margin-block: 25px;
          width: 85px;
        }
      }
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }

    input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
  }

  &.open {
    .menu-items {
      transform: translate(20%);
    }
  }
}
