@import "../../styles/variables.scss";

.header {
  height: $header-height;
  background: rgb(26, 25, 25);
  opacity: 0.6;
  color: $text2;
  position: fixed;
  z-index: 1000;
  width: 100%;

  &__content {
    max-width: 1920px;
    margin: 0;
    padding: 0 0;
    @include breakpoint(md) {
      padding: 0 0;
    }
    transition: 0.3s ease padding;

    height: 100%;
    display: flex;
    align-items: center;

    & > div {
      flex: 1;
      white-space: nowrap;

      &:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        height: 100%;

        margin-right: $spacing-md;
      }
      &:last-of-type {
        display: flex;
        justify-content: flex-end;
        flex: 0;
      }
    }
  }

  &__button__container {
    display: none;
    @include breakpoint(md) {
      display: initial;
    }
  }
  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include breakpoint(md) {
      display: none;
    }
    & > svg {
      display: block;
      font-size: 32px;
    }
  }
}

.logo {
  padding: 50% 0;
}

.nav {
  width: 100%;
  position: fixed;
  top: $header-height;
  right: -100%;
  background: rgba($bg2, 0.8);
  text-align: center;
  padding: $spacing-md 0;

  &--open {
    transition: 0.2s ease top;
    right: 0;
  }

  &__item {
    display: block;
    padding: $spacing-md;
    text-decoration: none;
    color: inherit;
    height: 100%;
    transition: 0.3s ease color;
    &:hover {
      color: $primary;
      transform: scale(1.2);
    }
  }

  @include breakpoint(md) {
    position: static;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: initial;
    width: auto;
    padding: 0;

    &__item {
      padding: 0 $spacing-lg;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__button__container {
    @include breakpoint(md) {
      display: none;
    }
    padding: $spacing-md;
  }
}

.button {
  font-weight: 500;
  color: $primary;
  border: 2px solid $primary;
  padding: $spacing-sm $spacing-lg;
  border-radius: $spacing-sm / 2;
  cursor: pointer;

  box-shadow: 0 0 0.5em 0 $primary;

  &:active {
    transform: scale(0.98);
    border-radius: 0;
  }
  &:hover {
    box-shadow: 0 0 0.75em 0 $primary;
  }
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
  .nav {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .nav {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
