@import "../../../styles/variables.scss";

.CardArticle {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 1px white;
  transition: all 0.4s ease-out 0s;
  overflow: hidden;
  height: 550px;
  &:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 2px white;
    color: white;
    p {
      color: $primary-end;
    }
  }
  @media only screen and (max-width: 600px) {
    width: 80vw;
  }
  a {
    width: 100%;
  }
  .article-title {
    color: white;
    font-size: 22px;
    padding: 20px 20px 0 20px;
    text-decoration: none;
    line-height: 1.5;
  }
  img {
    width: 100%;
  }

  p {
    text-align: center;
    padding-top: 10px;
  }

  h4 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 16px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 20px;
    h6 {
      padding: 3px 5px;
      color: black;
      border-radius: 5px;
      margin-right: 4px;
    }
  }
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
