@import "../../styles/variables.scss";

.Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  height: 100%;
}

.chevron-container {
  text-align: center;
}

.chevron-icon {
  margin-bottom: 0.5em;
}

a:hover .chevron-icon {
  transition: 0.8s;
  transform: rotate(-720deg);
}
