@import "../../styles/variables.scss";

.TestimonialsPage {
  @include bootstrapScroll();
  background-repeat: no-repeat;
  opacity: 0.9;
  padding: 10%;
  color: $text2;
  height: fit-content;
  overflow: hidden;
  transition: 1s;

  &.visible {
    opacity: 1;
  }

  p {
    font-size: $font-size-sm;
    margin: 1vh;
  }

  .testimonial__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }

  .testimonial-container {
    position: relative;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0 5px 20px black;
    text-align: center;
    background-color: transparent !important;
    position: relative;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 85vw;
    background-image: url("../../assets/item-bg.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media only screen and (min-width: 600px) {
      width: 40vw;
    }

    @media only screen and (min-width: 992px) {
      width: 30vw;
    }
  }

  .testimonial-text {
    font-style: italic;
    text-align: left;
    margin-top: 45px;
  }

  .signature {
    text-align: right;
    padding-top: 30px;
  }

  .quote-icon {
    position: absolute;
    left: -20px;
    top: -40px;
    size: 50px;
  }
}
