@import "../../styles/variables.scss";

.CurriculumPage {
  @include bootstrapScroll();
  padding: 20% 10% 15% 10%;
  color: $text2;
  overflow: hidden;
  height: fit-content;
}

.CurriculumPage {
  p {
    font-size: $font-size-sm;
    margin: 1vh;
  }
  h2 {
    font-size: 1.5em;
    font-family: $caveat-font;
    margin-top: 1vh;
  }

  img {
    margin: 15px 15px;
    padding: 5px;
  }

  .stack {
    text-align: center;
    display: flex;
    margin-bottom: 1vh;
    margin-left: -15vw;
    width: 150%;
    overflow-x: hidden;
    align-items: flex-end !important;
  }
}

.marquee-item {
  display: flex;
  flex-direction: column;
}

.marquee-item img {
  object-fit: contain;
  height: 100%;
}

.img-container {
  height: 70px;
}

.subtitle {
  padding-top: 50px;
}

.certifications-container {
  display: flex;
  flex-direction: column;
}

.certification-item {
  width: 100%;
}

.resume-container {
  display: flex;
  margin-inline: auto;
  justify-content: center;
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
  .CurriculumPage {
    padding: 10% 10% 15% 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .CurriculumPage {
    padding: 5% 10%;
  }
  .stack {
    padding-bottom: 3vh;
  }

  .stack {
    img {
      width: 90px;
      height: auto;
      margin-bottom: 2vh;
      margin: 15px 45px;
      &:hover {
        transform: scale(1.4);
        transition: 1s;
      }
    }
  }

  .curriculum__buttons {
    align-items: center;
  }

  .certifications-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .certification-item {
    width: 50%;
  }
}
