@import "../../styles/variables.scss";

.header {
  background: rgba(26, 25, 25, 0.8);
  color: $text2;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(2px);
  display: flex;
  height: 90px;
  position: fixed;
  margin-top: 5px;

  .menu-back {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .social-blog {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    .logo-blog-socials {
      margin-block: 15px;
      margin-right: 30px;
      &:hover {
        transform: scale(0.6);
        transition: 1s;
      }
    }
    .github {
      padding-top: 6px;
    }
  }
}

/* Medium devices (Tablets, between 600px and 992px) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
