@import "../../styles/variables.scss";

.languages-menu {
  .flag-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flag-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0 10px;
    position: relative;
    transition: transform 0.3s, filter 0.3s;

    @media (max-width: 992px) {
      margin: 0 15px;
    }

    &.active {
      transform: scale(1.5);
    }

    &:hover .flag {
      filter: brightness(2);
    }
  }

  .flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: filter 0.3s;
  }
}
